@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
.menu-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background: #112a85;*/
    background: #ffffff;
    padding: 24px 0 0;
    z-index: 1;
   
}
.menu-header{
    transition: 0.2s;
}
.mid_section {
    background-color: #f8f8ff;
    padding-top: -40px;
    padding-bottom: 40px;
}
.stick-logo{
    display: none;
}
.menu-header.sticky div#navbarSupportedContent li.nav-item a {
    color: rgb(16 41 132) !important;
}
.menu-header.sticky .logo {
    display: none;
}
.menu-header.sticky .stick-logo {
    display: block;
}
.nav-link {
    display: block;
    padding: 0rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.second_section {
    padding-top: 40px;
    padding-bottom: 40px;
}


.navbar-light .navbar-nav .nav-link {
    color: rgb(16 41 132);
    font-weight: 600;
	/* font-family: 'Playfair Display', serif; */
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: 0.5rem;
    }
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    color: #112A85;
    font-weight: 700;
    line-height: 60px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #616161;
    line-height: 30px;
}

.custom_btn {
    background-color: #112A85;
    color: white;
    box-shadow: 2px 2px 6px #E8E8E8;
    border: 1px solid #112A85;
	font-family: 'Playfair Display', serif;
}

.custom_btn:hover {
    background-color: #112A85;
    color: white;
    box-shadow: 2px 2px 6px #E8E8E8;
    border: 1px solid #112A85;
}

.header_div {
    margin-top: 24%;
    width: 90%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(0 0 0 / 0%);
    border-radius: 0.25rem;
    height: 300px;
    margin-bottom: 9%;
    padding: 12px;
    text-align: center;
    background: #f8f8ff;
    box-shadow: 2px 2px 11px #e8e8e8;
    padding-top: 21px;
}

.card:hover {
    background: #112A85;
    color: white;
}

.card:hover h5 {
    color: white;
}

.card:hover p {
    color: #F6770D;
}


h5 {
    font-family: 'Playfair Display', serif;
    color: #112A85;
    font-weight: 700;
}

h4 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-weight: 500;
}

.section3 {
    background-color: #F6770D;
    height: 300px;
    margin-top: 18%;
    padding-top: 59px;
    margin-bottom: 3%;
}

.mm {
    margin-top: -36%;
}

.mm2 {
    margin-top: -8%;
    margin-bottom: -14px;
    font-size: 22px;
    margin-left: -81;
}

.mm3 {
    margin-bottom: 2px;
    margin-left: -81;


}

.ic {
    width: 7%;
    margin-left: -81;

}
.meetteam1{
    margin-left: -81;

}

.pp {
    fill: #112a85;
}

.card:hover .pp {
    fill: #fff;
}

.icon_svg {
    width: 73px;
    height: 73px;
}

.pp2 {
    fill: #F6770D;
}

.pp2:hover {
    fill: #fff;
}

.blg {
    font-family: 'Bungee Shade', cursive;
    font-size: 62px;
    margin-top: 22%;
}

.test_img {
    width: 72% !important;
    padding: 11px;
    margin-left: 24%;
    border: 3px solid #112a85;
    border-radius: 65px;
    margin-top: 7%;
}



@media (max-width: 460px) {
    .mm {
        margin-top: -117%;
        width: 56% !important;
        margin-left: 43%;
    }
    .logo , .stick-logo {
        width: 53%;
        z-index: 99;
        position: absolute;
        /*margin-top: 3%;*/
        margin-left: 5%;
    }
    .navbar-light .navbar-nav .nav-link {
        color: rgb(16 41 132);
        font-weight: 600;
        margin-top: 5%;
        margin-bottom: 1%;
    }
    .header_div {
        margin-top: 13%;
        width: 90%;
        padding-left: 16px;
    }
    .test_img {
        width: 19% !important;
        padding: 11px;
        margin-left: 3%;
        border: 3px solid #112a85;
        border-radius: 65px;
        margin-top: 7%;
    }
}

@media only screen and (max-width: 576px) {
    
    
    
   .header-mobile-menu{
       position: absolute;
       right: 0;
   } 
    
}

@media only screen and (min-width: 992px) { 
    
    nav.navbar.navbar-expand-lg.navbar-light {
        float: right;
    }
}

@media only screen and (max-width: 991px) { 
    
    .logo , .stick-logo {
       
        z-index: 99;
        position: absolute;

    }
    
    .navbar-light .navbar-nav .nav-link {
        color: rgb(16 41 132);
        font-weight: 600;
        margin-top: 5%;
        margin-bottom: 1%;
    }
}


.success-mail p {
    color: #112A85;
    font-weight: 700;
    line-height: 60px;
}



.slids{
    display:none;
}
.news{
    color: #F6770D;
}
table{
    visibility:unset ;
}
table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    
}

.tablep{
    
    position: absolute;
    height: 80px;
    width: 210px;
    left: 735px;
    top: 250px;
    font-size: 70px;
    font-weight: 21px;
    

}
#tablem{
    visibility: hidden;
    position: absolute;
    top: 200px;
    left: 755px;
}

#tablem1{
    position: absolute;
    top: 200px;
    left: 755px;
}

#tablepositon2{
    position: absolute;
    height: 10px;
    width: 10px;
    left: 755px;
    top: 350px;
}

.meetourteam{
    position: absolute;
    height: 110px;
    width: 110px;
    left: 775px;
    top: 1220px;
 
}

.dropbtn{
    width: 160px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;
}
.bgc{
    position: absolute;
    top: 200px;
    left: 755px;
    color: #ddd;
}
.table-content{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0,0,0,0,15);

}
.table-content{
    background-color: #3498DB;
    text-align: left;
    font-weight: bold;

}
.table-content th,
.table-content td{
    padding: 12px 15px;
}
.table-content tbody tr {
    border-bottom: 1px solid #ddd;
}
.table-content tbody tr:nth-of-type(even){
    background-color: #f3f3f3;

}
.table-content tbody tr:last-of-type{
    border-bottom:  2px solid #009800;
}